#infoSection {
    background-color: rgba(15, 15, 42, 0.485);
    font-size: 20px;
    
    background-image:url(https://c4.wallpaperflare.com/wallpaper/58/872/874/hot-girl-picture-1920x1200-wallpaper-preview.jpg);
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(31, 177, 187, 0.3);
    text-align: center;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: black 1px 1px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 40px;
}

p {
  text-align: center;
  margin-bottom: 40px;
  font-size: 18px;
}

  
  textarea{
    border: none;
    resize: none;
    color: #212121;
    border-left: 1px solid black;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    height: 50px;
    margin-bottom: 50px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: rgb(57, 58, 58);
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
  }
  
  .past {
    background-color: #da8787;
    color: white;
  }
  
  .present {
    background-color: #ebebeb;
    color: black;
  }
  
  .future {
    background-color: #77e6a0;
    color: black;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    background-color: rgb(57, 58, 58);
    color: white;
    
  }
  
  .saveBtn:hover {
    font-size: 18px;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }
  